.footer{
	color: rgb(153, 153, 153);
	background-color: rgb(51, 51, 51);
	height: 588px;
	width: 100%;
}
.footer-top>div{
	width: 360px;
}
.footer-top{
	padding-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.footer a{
	color: rgb(153, 153, 153);
	text-decoration: none;
}
.footer a:hover{
	color: #31c27c;
}
.footer table{
	font-size: 13px;
}
.download a,.special a{
	font-size: 13px;
	margin: 0;
}
.download{
	display: flex;
	justify-content: space-between;
	width: 360px;
	margin: 0;
	text-align: center;
}
.download div{
	display: grid;
}
.special{
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 250px;
}
.special div{
	display: grid;
}
#hezuo tr{
	height: 40px;
}
#hezuo td{
	width: 110px;
}
#div4{
	clear: both;
	margin-left: 30px;
}
#div4 a{
	font-size: 13px;
	margin: 0 20px 0 0;
}
#footer_bottom{
	font-size: 13px;
	text-align: center;
	margin-top: 200px;
	width: 100%
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7{
	width: 55px;
  	height: 48px;
	background-image: url(../images/footer.png);
	display: inline-block;
	margin: 0 auto;
}
.p1{background-position: 4px 0}
.p1:hover{background-position: 4px 47px}
.p2{background-position: -87px 0}
.p2:hover{background-position: -87px 47px}
.p3{background-position: -180px 0}
.p3:hover{background-position: -180px 47px}
.p4{background-position: -270px 0}
.p4:hover{background-position: -270px 47px}
.p5{background-position: -370px 0}
.p5:hover{background-position: -370px 47px}
.p6{background-position: -455px 0}
.p6:hover{background-position: -455px 47px}
.p7{background-position: -552px 0}
.p7:hover{background-position: -552px 47px}